@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins&display=swap');
/* font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

::selection {
    color: var(--secondary);
    background-color: var(--color-one);
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    background-color: var(--primary);
    color: var(--second-white);

    overflow-x: hidden;
}

:root {
    --primary: #080808;
    --secondary: #0F0F0F;
    --color-one: #925DD4;
    --white: #FFF;
    --second-white: #DEDEDE;
}

a {
    text-decoration: none;
    color: var(--second-white);
}

a:hover {
    color: var(--white);
}

p {
    font-size: 20px;
    line-height: 160%;

    width: 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 56px;
    line-height: 72px;
    color: var(--white);
}

.btn {
    background-color: var(--color-one);
    border: 1px solid var(--color-one);
    border-radius: 8px;
    padding: 10px 20px;
    color: var(--white);
    transition: .4s;
}

.btn:hover {
    border: 1px solid #6f2ac4;
    background-color: #6f2ac4;
}

.btn2 {
    border: 1px solid var(--second-white);
    border-radius: 8px;
    padding: 10px 20px;
    transition: .4s;
}

.btn2:hover {
    background-color: var(--second-white);
    color: var(--primary);
}

img {
    width: 70%;
    transition: 1s;
}


/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

ul {
    display: flex;
    align-self: center;
    gap: 2rem;
    list-style: none;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: var(--white);
}

#logo::after {
    content: '';
    display: block;
    border-right: 2px solid var(--second-white);
    height: 20px;
    margin-left: 10px;
}

#logo:hover {
    color: var(--second-white);
}

#menu {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--white);
}

/* main */
main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 4.5rem;
}

#cta-text {
    width: 100%;
    max-width: 550px;
}

#cta-text h1 span {
    background: linear-gradient(to right, var(--color-one), var(--second-white), var(--color-one));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#cta-text h1 span::selection {
    background-color: transparent;
    color: var(--color-one);
    border: 1px solid #fff;
}

#cta-text p {
    margin-block: 1rem;
}

#cta-text div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

#cta-img {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* section: cards */
#cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    width: 70%;
    margin: 0 auto;
    margin-block: 7rem;
}

.card {
    background-color: var(--secondary);
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 280px;
    width: 100%;
    transition: .4s;
}

.card h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--white);
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    cursor: default;
}

.card h2:after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--color-one);
    width: 3rem;
    padding: 2px;
    transition: .4s;
}

.card:hover h2::after {
    width: 5rem;
}

.card:hover {
    border: 1px solid var(--color-one);
}


/* section: about */
#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    gap: 5rem;
    margin-block: 7rem;
}

.about-social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.about-social img {
    width: 100%;
    max-width: 450px;
    cursor: pointer;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: var(--white);
}

.about-text p span {
    color: var(--color-one);
    font-weight: 600;
}

.about-social img:hover {
    transform: rotate(-120deg);
    filter: saturate(20%);
}


/* community */
#community {
    display: grid;
    grid-template-areas: 
    "col1 col2 col2"
    "col3 col3 col4";
    width: 70%;
    margin: 0 auto;
    gap: 2rem;
    color: var(--white);
}

#community span {
    color: var(--color-one);
    font-weight: 600;
}

#community a {
    color: var(--color-one);
}

#community a:hover {
    text-decoration: underline;
}

#div1 {
    grid-area: col1;
    background-color: var(--color-one);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div1 h4 {
    font-size: 50px;
    width: 60%;
    text-align: start;
}

#div2 {
    grid-area: col2;
    background-color: #1E1E1E;
    padding: 1.3rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#div3 {
    grid-area: col3;
    background-color: var(--white);
    color: var(--primary);
    padding: 1.3rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#div4 {
    grid-area: col4;
    background-color: var(--color-one);
    border-radius: 8px;
    width: 100%;
}



/* section: install */
#install {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    margin-block: 7rem;
}

#install div p {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#install div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    padding: 2rem;
    border: 1px dashed var(--color-one);
    border-radius: 8px;
    margin-block: 2rem;
}

#install div a {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    gap: 8px;
}

#install h1 {
    cursor: default;
}

#install h1:after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--color-one);
    width: 3rem;
    padding: 2px;
    transition: .4s;
}

#install h1:hover::after {
    width: 6rem;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 2rem;
    background-color: var(--secondary);
}

footer #btnUp {
    background: linear-gradient(to right, var(--color-one), var(--second-white), var(--color-one));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: .2s;
}

footer #btnUp:hover {
    scale: 1.1;
}

#socials {
    display: flex;
    flex-direction: column;
}

#socials h3 {
    background: linear-gradient(to right, var(--color-one), var(--second-white), var(--color-one));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    padding-block: 5px;
}

#socials a {
    padding: 5px 0px;
}


/* medias queries */

@media (max-width: 768px) {
    .btn {
        padding: 8px 15px;
    }
    .btn2 {
        padding: 8px 15px;
    }

    #logo img {
        width: 30px;
    }

    #logo::after {
        margin-left: 0px;
    }

    h1 {
        font-size: 46px;
        line-height: 62px;
    }

    header ul {
        visibility: hidden;
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
        position: absolute;
        top: -100vh;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: var(--primary);
        transition: .4s;
    }

    header ul li a:hover {
        color: var(--white);
    }

    header nav {
        gap: 1.2rem;
    }

    #menu {
        display: block;
    }

    .menu-active {
        visibility: visible;
        top: 6rem;
        left: 0px;
    }

    #img-ig {
        display: none;
    }

    main {
        flex-direction: column;
        padding-bottom: 0px;
        width: 80%;
        margin: 0 auto;
        padding-inline: 0;
    }

    #cta-text p {
        font-size: 15px;
    }

    #cta-img {
        margin-block: 3rem;
    }

    #cta-img img {
        display: none;
    }

    #cards {
        flex-direction: column;
        margin-top: 1rem;
        width: 80%;
    }

    .card {
        height: 100%;
    }

    #about {
        flex-direction: column;
        width: 80%;
        margin-top: 0px;
    }

    #community {
        grid-template-areas: 
        "col1" "col2" "col3" "col4";
        justify-content: center;
        width: 80%;
    }

    #div1 {
        display: block;
    }

    #div4 {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1190px) {
    h1 {
        font-size: 50px;
        line-height: 66px;
    }

    p {
        font-size: 18px;
    }

    main {
        padding: 3rem;
    }

    #cta-text p {
        font-size: 15px;
    }

    #cta-text div {
        margin-top: 1.2rem;
    }

    #cards {
        width: 80%;
    }

    .card {
        padding: 1.2rem;
    }

    .card h2 {
        font-size: 18px;
    }

    #about {
        width: 80%;
    }

    #community {
        width: 80%;
    }

    #div1 {
        justify-content: start;
    }
}