@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
/* 
font-family: 'Be Vietnam Pro', sans-serif;
*/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #7838FF #0d0d0d;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #0D0D0D;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #7838FF;
    border-radius: 20px;
    border: 4px solid #0D0D0D;
  }

::selection {
    color: #0D0D0D;
    background-color: #A174FF;
}

/* geral */
span {
    font-weight: bold;
}
.span-purple {
    color: #A174FF;
}
.span-purple-sec {
    color: #A174FF;
}
p {
    font-size: 25px;
    line-height: 35px;
}
h3 {
    font-size: 25px;
    color: #fff;
}
a{
    text-decoration: none;
}

/* Header */
header {
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5rem;
    padding-block: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    box-shadow: 0px 5px 30px 4px rgb(13, 13, 13, .4);
}
header img {
    width: 130px;
}
header ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-right: 40px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .4s;
}

header ul li a:hover {
    color: #A174FF;
}

#btnMobile{
    display: none;
}

/* Main Cta */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #0D0D0D;
    padding: 50px 0px 150px 0px;
    margin-top: 80px;
}

#cta-text {
    width: 490px;
    margin-bottom: 40px;
}
#cta-text h1 {
    font-size: 45px;
    color: #fff;
    margin-bottom: 50px;
}
#cta-text h1 span {
    color: #A174FF;
}
#cta-text a {
    color: #fff;
    font-size: 25px;
    border: 2px solid #BB9BFF;
    border-radius: 8px;
    padding-inline: 40px;
    padding-block: 8px;
    transition: .4s;
}
#cta-text a:hover {
    background-color: #BB9BFF;
    color: #0D0D0D;
}
#div-img img {
    transition: .4s;
}
#div-img img:hover {
    scale: 1.05;
}

/* Sessão: o que é o UIcode? */
#section1 {
    background-color: #fff;
    color: #0D0D0D;
}
section h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
    padding: 0px 30px;
}

#div-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-bottom: 5rem;
}
#texts-sobre {
    width: 400px;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#div-sobre-imagem {
    transition: .4s;
}
#div-sobre-imagem:hover {
    scale: 1.05;
}

/* sessão: E adivinha só? */

#div-free-h2 {
    color: #7838FF;
    text-align: start;
    margin-left: 11rem;
    margin-bottom: 0rem;
}

#div-free {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
#div-free p {
    width: 450px;
    margin-bottom: 150px;
}
#div-free img {
    position: relative;
    bottom: 4.5rem;
}

/* sessão: Mas antes de baixar o UIcode */
#section2 {
    background-color: #0D0D0D;
    color: #fff;
    padding: 30px 0px 70px 0px;
}

#section2 h2 {
    color: #7838FF;
    text-align: center;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

#texts-sobre2 {
    width: 400px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

#texts-sobre2 h3 {
    color: #A174FF;
}

#texts-sobre2 ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#texts-sobre2 li a{
    color: #d9d9d9;
    font-size: 18px;
}
#texts-sobre2 li a:hover{
    color: #BB9BFF;
}

#div-img2 {
    display: flex;
    flex-direction: column;
    gap: 150px;
}
#div-img2 img {
    position: relative;
    top: 50px;
}
#div-img2 #linkUI {
    border: 2px solid #A174FF;
    border-radius: 8px;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.71);
}

#div-img2 #linkUI h3 {
    margin-top: 0px;
    font-weight: 400;
}

#div-img2 #linkUI a {
    background-color: #0D0D0D;
    color: #fff;
    font-size: 17px;
    padding: 10px 15px;
    border: 2px solid #A174FF;
    border-radius: 8px;
    font-weight: 400;
    transition: .4s;
}
#div-img2 #linkUI a:hover {
    color: #0D0D0D;
    background-color: #BB9BFF;
    border: 2px solid #A174FF;
}


footer{
    background-color: #0D0D0D;
    color: #d9d9d9;
}
footer h5{
    text-align: center;
    margin: 0px;
    font-size: 20px;
    padding: 20px;
    font-weight: 400;
}
footer span a{
    color: #7838FF;
    transition: .4s;
    font-weight: 600;
    letter-spacing: 1px;
}
footer span a:hover{
    color: #A174FF;
}


/* javascript animation */
.init-hidden{
    opacity: 0;
    transition: opacity 1s linear;
}
.init-hidden-off{
    opacity: 1;
}




/* media queries */
@media (max-width: 320px){
    p {
        max-width: 300px;
    }
    #texts-sobre {
        width: 300px;
    }
    #texts-sobre2 {
        width: 300px;
    }
}


@media (max-width: 600px){
    /* btnMobile */
    header{
        padding-inline: 3rem;
        padding-block: 25px;
    }
    #btnMobile{
        display: block;
    }
    #menu{
        margin-right: 0px;
        display: block;
        position: absolute;
        width: 100%;
        top: 66px;
        right: 0px;
        background-color: rgba(13, 13, 13, .9);
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: auto;
    }
    #nav.active #menu{
        height: calc(100vh - 200px);
        visibility: visible;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
    }
    #menu li {
        padding: 1rem 0;
        margin: 0 1rem;
    }
    #btnMobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer {
        color: #7838FF;
        border-top: 3px solid;
        width: 25px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        background-color: currentColor;
        margin-top: 6px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -9px;
    }


    #cta-text{
        width: 100%;
    }
    #cta-text h1 {
        font-size: 40px;
        margin-left: 15px;
    }
    #cta-text a {
        margin-left: 15px;
    }

    #div-free {
        gap: 60px;
    }
    #div-free-h2 {
        margin-left: 0px;
        text-align: center;
    }
    #div-free p {
        width: 300px;
    }

    #texts-sobre {
        width: 300px;
    }
    #texts-sobre2 {
        width: 300px;
    }

    p {
        max-width: 380px;
    }

    img {
        width: 300px;
        max-width: 350px;
    }

    #div-img2 img {
        width: 250px;
    }

    #div-img2 #linkUI {
        margin: 0px 20px;
    }
}

@media (max-width: 768px){
    /* header */

    main{
        flex-direction: column;
        gap: 60px;
    }

    #div-sobre{
        flex-direction: column;
        gap: 60px;
    }

    #div-free {
        flex-direction: column;
    }
    #div-free p {
        margin-top: 80px;
        margin-bottom: 0px;
    }
    #div-free img {
        width: 300px;
        bottom: 0px;
    }

    #content {
        flex-direction: column;
        gap: 80px;
    }
}

@media (min-width: 769px) and (max-width: 1085px){
    img{
        width: 380px;
    }
    main, #div-sobre, #div-free, #content {
        padding-inline: 25px;
    }
    main{
        gap: 80px;
    }
    #content{
        gap: 100px;
    }
}